.container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: -10px;
    height: 100vh;

    h1{
        color: white;
    }

    img{
        width: 100%;
        height: auto;
    }

    h2{
        color: white;
        text-align: center;
        margin-top: -50px;
    }
}